/*navbar*/

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px #000;
    align-items: center;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    gap: 50px;
    align-items: center;
    list-style: none;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: tomato;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    padding: 10px 40px;
    outline: none;
    border: 1px solid tomato;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
}

.nav-login-cart button:hover{
    background: #f5e0e0;
    color: #000;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 50%;
    font-size: 14px;
    background-color: tomato;
    color: #fff;
}

.nav-hamburger{
    display: none;
}

.navbar-profile{
    position: relative;
    cursor: pointer;
}

.nav-profile-dropdown{
   position: absolute;
   display: none;
   right: 0;
   z-index: 1;
}

.nav-profile-dropdown li{
    cursor: pointer;
}
.nav-profile-dropdown li:hover{
    color: tomato;
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    list-style: none;
    outline: none;
    cursor: pointer;
}


@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }
    .nav-logo img{
        width: 40px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button{
        padding: 8px 32px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}

@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    .nav-login-cart button{
        padding: 6px 24px;
        font-size: 14px;
    }
    .nav-login-cart img{
        width: 30px;
    }
    .nav-cart-count{
        width: 18px;
        height: 18px;
    }
}

@media(max-width:800px){
    .navbar{
        padding: 10px 0px;
    }
    .nav-hamburger{
        display: block;
        width: 30px;
        height: 30px;
        transition: 0.5s;
        margin-top: 5px;
        cursor: pointer;
    }
    .nav-menu{
        display: flex;
        height: 80px;
        width: 100%;
        position: absolute;
        background: #fff;
        justify-content: center;
        top: 50px;
        display: none;
    }
    .nav-menu-visible{
        display: flex;
    }
}

@media(max-width:500px){
    .navbar{
        padding: 8px 0px;
        gap: 0;
    }
    .nav-logo{
        transform: scale(0.8);
    }
    .nav-hamburger{
        transform: scale(0.8);
    }
    .nav-menu{
        height: 70px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    }
}




